
.coba-img {
	width: 600px;
	height: 509px;
	border-radius: 10px 10px 10px 10px;
}
.reccomend-img-umkm {
	width: 1070px;
	height: 509px;
	border-radius: 10px 10px 10px 10px;
}

.reccomend-text-umkm {
	margin-top: 30PX;
}